html, body {
	height: 100%;
	margin: 0;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	
	font-family: 'Roboto', sans-serif;
	background: gray;
	background: radial-gradient(#000, #333 30%, #606060);
	background-repeat: no-repeat;
    background-attachment: fixed;
	
	color: white;
}

/* General elements */

/* Navbar */
nav {
	min-height: 20%;
	margin: 0.5rem;
	text-align: center;
}
nav img {
	display: block;
	margin: auto;
	width: 100px;
	height: 50px;
	padding-bottom: 1.5rem;
}
nav ul {
	display: inline;
	padding: 0;
}
nav ul li {
	display: inline;
	padding: 0 2vw;
	min-width: 3vw;
}
nav ul li a {
	color: #ccc;
	text-decoration: none;
	padding: 0.5rem 2vw;
	border-radius: 2rem;
	transition: all 0.3s ease 0s;
}
nav ul li a:hover, .active a {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}


/* Main */
main {
	text-align: center;
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
main h1 {
	font-size: 4rem;
}
main p.lead {
	font-size: 2rem;
}

/* Footer */
footer {
	text-align: center;
	padding: 1rem;
}
footer .dev {
	font-size: 80%;
}

footer a {
	color: inherit;
}